.body {
    padding: 0px;
    margin: 0px;
}

/* NAV BAR */

.navBarOuter {
    background: lightgray;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.navBarOuter p {
    margin: 3px;
    color: maroon
}

.navBarOuter p:hover {
    color: aqua;
    font-size: 20px;
    transition: 20ms;
}

/* BANNER */

.outerDiv {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner {
    height: 300px;
    width: 100%;
    display: flex;
    gap: 2px;

}
