html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    margin-left: 0px;
}

.hover:hover {
    cursor: pointer;
}

.video-card {
    transition: ease-in 0.05s;
}


.hover:hover {
    transform: scale(1.02);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.videoCard {
    width: 550px;
    height: 400px,
}

.filterOptions input {
    width: 20px;
}

@media screen and (max-width: 900px) {
    .gallery {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .gallery div {
        justify-content: center;
        align-items: center;
    }

    .gallery :nth-child(2) {
        order: 1;
        font-size: 15px;
    }

    .gallery :nth-child(1) {
        order: 2;
        flex-direction: row-reverse;
    }

    .gallery :nth-child(3) {
        order: 3;
        flex-direction: row-reverse;
    }
    .title > hr {
        visibility: hidden;
    }
    .recommendedTitle > h1{
        font-size: 25px;
    }
}

