.table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-top: 20px;
}

thead tr th, tbody td {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #242424;
    font-weight: bold;
    text-align: left;
}

@media (max-width: 600px) {
    thead tr th, tbody td {
        font-size: 12px;
    }
     
    .voteOuter {
        padding-left: 5% !important;
    }
}